
pre{
	background-color: #eeeeee;
	padding: 2px;
}
code{
	background-color: #eeeeee;
}
body{
	font-family: Trebuchet MS, Helvetica, sans-serif;
	max-width: 40em;
	margin-left: 2em;
}
body p{
	text-align: justify;
}
body h1{
}
body h2{
}
body h3{
}
.greeksymbol{
	font-family: Symbol;
}
.math{
	font-family: Times New Roman, Times, serif;
	font-style: italic;
}


















ul#toc
{
position: relative;
}

ul#toc li a
{
padding-left: 12px;
text-align: left;
margin: 0;
text-decoration: none;
}

ul#toc li a:hover
{
	text-decoration: underline;
}

#toc
{
margin: 0 0 0 65px;
padding: 0;
text-align: left;
}

/*subnavlist */
ul.tocsub li
{
display: inline;
padding-left: 20px;
line-height: 22px;
}

#tocsub a
{
}

#tocsub a:hover
{
	text-decoration: underline;
}

#tocsub
{
text-align: left;
margin: 0;
padding-left: 0;
}

ul#tocsub li a#subcurrent { color: #666; }

ul#tocsub ul
{
position: absolute;
top: 0;
left: 4em;
}

ul#toc ul li a, ul#toc ul li a:hover, ul#toc ul li a#toc { background-image: none; }
